#qs h1{
    font-family: 'Gloria Hallelujah', cursive;
    color: white;
    font-size: 5rem;
}

#qs h2{
    font-family: 'Gloria Hallelujah', cursive;
    color: white;
    font-size: 4rem;
}

#qs p{
    font-family: 'Gloria Hallelujah', cursive;
    color: white;
    font-size: 1.1rem;
}



