.card h5{
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 2rem;
    text-align: center;
    font-weight: 100;

}
#add_usuario{
	margin: 0 auto !important;
}
label{
	font-family: 'Gloria Hallelujah', cursive;

}
input{
	font-family: 'Gloria Hallelujah', cursive;
}
button {
	font-family: 'Gloria Hallelujah', cursive;
}

a{
	font-family: 'Gloria Hallelujah', cursive;
}
p{
	font-family: 'Gloria Hallelujah', cursive;
}
.loggin h2 {

	color: white;
	font-size: 30px;
	margin: 0 auto;
	text-align: center;
}

.loggin p {
	color: white;
	font-family: 65px;
	text-align: center;
}

.container p{
	text-align: center;
}

.container h2{
	text-align: center;
	font-family: 'Gloria Hallelujah', cursive;
	color: white;
}

.form-grup form label{
	font-family: 'Gloria Hallelujah', cursive;
	color: rgb(0, 0, 0);
}

.container h3{
	text-align: center;
	font-family: 'Gloria Hallelujah', cursive;
	color: black;
}

.mb-3 label{
	
	font-family: 'Gloria Hallelujah', cursive;
	color: black;
}
.row .col-12 {
	font-family: 'Gloria Hallelujah', cursive;
	color: white;
}
#errores_producto{
	list-style-type: none !important; 
	list-style: none !important;
	text-align: center;
	color: white;
	
}

.mt-4 h4{
	font-family: 'Gloria Hallelujah', cursive;
	color: white;
	text-align: center;
	font-size: 2rem;
}