p{
    font-family: verdana;/*tipo de letras*/
   text-align: center;/*alineación del texto*/
   color: red; /*color de la fuente*/
   font-size:24 px;/*tamaño de la fuente*/
   font-style: italic; /*estilo */
   font-weight: bold; /* negrito o fuerte*/
   }
   body {
   background-color: lightblue; /*color de fondo del body*/
   }
   /* color y alineación de la etiqueta h1*/
   h1 {
   color: white;
   font-weight: bold; /* negrito o fuerte*/
   text-align: center;/*alineación*/
   }